- if @cover_photo.present? && !@cover_photo.new_record?
  .header.cover{ :style => "background-image: url(#{@cover_photo.image.url});" }
    %a.pure-button.cover
      .icon-camera Replace Cover
- else
  .header.upload
    %a.pure-button.cover
      .icon-camera Upload Cover

= form_for @cover_photo, url: cover_upload_path, :method => :post, html: {id: 'cover_form', multipart: true} do |form|
  = form.file_field :image, id: 'cover', hidden: true, accept: 'image/*'

= form_for @listing, url: listings_path, :method => :post, html: {class: 'pure-form pure-form-stacked', multipart: true} do |form|
  .content.document
    = form.file_field :document, id: 'document', hidden: ''
    - if @listing.document.exists?
      %a.document= @listing.document_file_name
    - else
      %a.document Select File For Sale
  .content
    .pure-g
      = render :partial => "form", locals: {form: form}
      .pure-u-1
        = form.submit 'Create Listing', class: 'pure-input-1 pure-button expand-button'