- if @cover_photo.present?
  .header#cover.cover{ :style => "background-image: url(#{@cover_photo.image.url});" }
- else
  .header#cover
    %h1= @listing.title
    %h2 #{@listing.amount} BTC
.header#purchase.cover(hidden)
  %p
    Waiting for
    %span#amount= @listing.amount
    BTC to be sent.
  %a.pure-button.download(hidden) Download
  #qrcode
  %p
    %span#address ...
.content.meta-information
  .pure-g
    .meta.pure-u-1-3
      %p
        = succeed " #{number_to_human_size(@listing.document_file_size)}" do
          %strong File Size: 
    .meta.pure-u-1-3
      %p
        = succeed " #{@listing.sales}" do
          %strong Sales: 
    .meta.pure-u-1-3
      %p
        = succeed " #{@listing.amount} BTC" do
          %strong Price: 
.content
  - if @cover_photo.present?
    %h2= @listing.title
  - if @listing.description.present?
    %p= @listing.description
  - if @key.nil?
    = link_to "Purchase", new_transaction_listing_path, :class => "pure-button expand-button purchase"
  - else
    .right
      = link_to "Edit Listing", edit_listing_path(@listing.token, :key => @listing.key), :class => "pure-button"
      = link_to "Delete listing", listing_path(@listing.token, :key => @listing.key), :method => :delete, :data => { :confirm => 'Are you sure you want to delete this listing?' }, :class => "pure-button button-error"
- if @key.present?
  .content
    %aside
      %p 
        = "This listing is public! #{link_to 'Share this link', listing_path(@listing.token)} to start earning money.".html_safe
.content
  %p.powered-by
    = link_to "Powered by #{APP_CONFIG['service_name']}", root_path
    Sell your content in seconds.

- content_for :scripts do
  :coffeescript
    window.pusher_key = 'e9f5cc20074501ca7395'
    window.pusher_host = 'slanger1.chain.so'
    window.pusher_prefix = 'address_#{APP_CONFIG['network']}_'